// Color Palette
$main-color: #f7f0f0;
$sec-color: #aaa1c8;
$medium-color: #967aa1;
$hard-color: #192a51;
$w-color: #fff;
$b-color: #000;

// Fonts
$font-style: "Montserrat", sans-serif;
$logo-font: "Righteous", cursive;
$text-font-size: 17px;
$heading-font-size: 24px;

$trans: 0.5s;
